#projects {
  position: relative;
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.projects-title {
  padding-top: 80px;
  font-size: 5rem;
  font-weight: bold;
  color: #9E8EFF;
}

.projects-bottom {
  margin-top: 100px;
}

.more-view-link {
  text-align: end;
  padding-right: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.projects-main {
  width: 100%;
}

.project-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  margin: 10px;
  cursor: pointer;
  filter: brightness(50%);
  transition: all 0.5s;
}

.project-card-container:hover {
  filter: brightness(100%);
}

.project-card-left-section {
  width: 50%;
}

.project-card-left-top-section {
  display: flex;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
  transition: all 0.5s;
}

.project-card-container:hover .project-title {
  color: #FFED90;
}

.project-period {
  padding-top: 20px;
  transition: all 0.5s;
}

.project-card-container:hover .project-period {
  color: #FFED90;
}

.project-card-tag-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.project-card-tag {
  margin-right: 10px;
  font-size: 1.3rem;
}

.project-card-intro {
  font-size: large;
  word-break:keep-all;
}

.project-img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  transition: all 0.5s;
  filter: grayscale(100%);
}

.project-card-container:hover .project-img {
  width: 440px;
  height: 270px;
  filter: grayscale(0%);
}
