#projects {
  position: relative;
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.projects-title {
  padding-top: 80px;
  font-size: 5rem;
  font-weight: bold;
  color: #9E8EFF;
}

.projects-bottom {
  width: 100%;
  margin-top: 100px;
}

.more-view-link {
  text-align: end;
  padding-right: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.projects-main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
  margin: 10px;
  filter: brightness(50%);
  transition: all 0.3s;
}

.project-card-container:hover {
  filter: brightness(100%);
}

.project-card-left-section {
  width: 50%;
}

.project-card-left-top-section {
  display: flex;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
  transition: all 0.3s;
}

.project-card-container:hover .project-title {
  color: #FFED90;
}

.project-period {
  padding-top: 20px;
  transition: all 0.3s;
}

.project-card-container:hover .project-period {
  color: #FFED90;
}

.project-card-tag-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.project-card-tag {
  margin-right: 10px;
  font-size: 1.3rem;
}

.project-card-intro {
  word-break:keep-all;
}

.project-img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  transition: all 0.3s;
  filter: grayscale(100%);
}

.project-card-container:hover .project-img {
  width: 440px;
  height: 270px;
  filter: grayscale(0%);
}

@media (max-width: 1300px) {
  .project-card-container {
    justify-content: space-evenly;
  }
  
  .project-title {
    font-size: 1.5rem;
  }
  
  .project-period {
    padding-top: 10px;
  }

  .project-card-tag {
    font-size: 1.1rem;
  }

  .project-img {
    width: 300px;
    height: 200px;
  }
  
  .project-card-container:hover .project-img {
    width: 340px;
    height: 230px;
  }
}

@media (max-width: 1100px) {
  .project-card-container {
    justify-content: space-evenly;
  }
  
  .projects-title {
    font-size: 4rem;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .project-period {
    padding-top: 10px;
    font-size: 0.8rem;
  }

  .project-card-tag {
    font-size: 0.8rem;
  }

  .project-img {
    width: 300px;
    height: 200px;
  }
  
  .project-card-container:hover .project-img {
    width: 340px;
    height: 230px;
  }
}

@media (max-width: 850px) {
  .project-card-left-top-section {
    display: block;
  }

  .project-card-container {
    justify-content: center;
  }
  
  .project-title {
    font-size: 1.2rem;
  }

  .project-period {
    padding-top: 10px;
    font-size: 0.8rem;
  }

  .project-card-tag-box {
    display: none;
  }

  .project-card-intro {
    margin-top: 20px;
  }

  .project-img {
    width: 250px;
    height: 170px;
    margin-left: 20px;
  }
  
  .project-card-container:hover .project-img {
    width: 290px;
    height: 200px;
  }
}

@media (max-width: 500px) {
  .project-img {
    width: 150px;
    height: 80px;
    margin-left: 20px;
  }
}