#projects {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  padding-top: 80px;
  font-size: 5rem;
  font-weight: bold;
  color: #9E8EFF;
}

.projects-main {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projects-main-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  animation: cardOpacity 1s linear;
}

.hidden {
  display: none;
}

.project-img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border: 1px solid rgb(85, 85, 85);
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.507);
}

.project-title {
  margin-top: 30px;
  font-size: xxx-large;
  font-weight: bold;
}

.project-kind {
  font-size: x-large;
  font-weight: bold;
  color: #9E8EFF;
}

.project-comment {
  margin: 10px 0;
  width: 500px;
  white-space: pre-wrap;
}

.arrow-left {
  position: absolute;
  top: 55%;
  opacity: 1;
  animation: arrowLeft 1.5s ease-in infinite;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 55%;
  opacity: 1;
  animation: arrowRight 1.5s ease-in infinite;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
  fill: rgb(255, 255, 255);
  transition: all 0.5s;
}

@keyframes arrowLeft {
  0% {
    left: 50px;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 50px;
  }
}

@keyframes arrowRight {
  0% {
    right: 50px;
  }
  50% {
    right: 30px;
  }
  100% {
    right: 50px;
  }
}

@keyframes cardOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1400px) {
  @keyframes arrowLeft {
    0% {
      left: 250px;
    }
    50% {
      left: 230px;
    }
    100% {
      left: 250px;
    }
  }
  
  @keyframes arrowRight {
    0% {
      right: 250px;
    }
    50% {
      right: 230px;
    }
    100% {
      right: 250px;
    }
  }
}

@media (max-width: 500px) {
  .projects-title {
    font-size: 2rem;
  }
  
  .project-img {
    width: 300px;
  }

  .project-title {
    font-size: x-large;
  }
  
  .project-comment {
    width: 300px;
  }
}