#skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.skills-title {
  padding-top: 100px;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #906CBE;
  margin-bottom: 10px;
}

.notice-content {
  margin-bottom: 40px;
}

.skills-kind {
  background-color: rgb(0, 0, 0);
  border: 3px solid #555555;
  border-radius: 100px;
  padding: 8px 25px;
  padding-bottom: 10px;
  font-size: large;
}

.front-skills {
  width: 930px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px;
}

@media (max-width: 500px) {
  .front-skills {
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
  }
}